<?xml version="1.0" encoding="UTF-8"?>
<!-- spring.xml for testing! root eliment -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
	<bean id="configproperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="location" value="archiver.properties" />
	</bean>
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="properties" ref="configproperties" />
	</bean>

	<!--创建jdbc数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${archiver.dbdriver}" />
		<property name="url" value="${archiver.dburl}" />
		<property name="username" value="${archiver.dbuser}" />
		<property name="password" value="${archiver.dbpass}" />

	</bean>
	<!-- scope: singleton prototype,request,session,globalsession -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
		scope="singleton">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis/sqlMapConfig.xml" />
		<!-- <property name="mapperLocations" value="classpath*:sample/config/mappers/**/*.xml" 
			/> -->
	</bean>
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>
	<!-- sqlSession for batch executor -->
	<bean id="batchSqlSession" class="org.mybatis.spring.SqlSessionTemplate"
		scope="prototype">
		<constructor-arg index="0" ref="sqlSessionFactory" />
		<constructor-arg index="1" value="BATCH" />
	</bean>

	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
	<bean id="boardMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="org.kbs.archiver.persistence.BoardMapper" />
		<property name="sqlSessionTemplate" ref="sqlSession" />
	</bean>
	<bean id="threadMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="org.kbs.archiver.persistence.ThreadMapper" />
		<property name="sqlSessionTemplate" ref="sqlSession" />
	</bean>
	<bean id="sequenceMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="org.kbs.archiver.persistence.SequenceMapper" />
		<property name="sqlSessionTemplate" ref="sqlSession" />
	</bean>
	<bean id="threadseq" class="org.kbs.archiver.CachedSequence">
		<constructor-arg index="0" value="thread" type="String" />
		<constructor-arg index="1" ref="sequenceMapper" />
	</bean>
	<bean id="articleseq" class="org.kbs.archiver.CachedSequence">
		<constructor-arg index="0" value="article" />
		<constructor-arg index="1" ref="sequenceMapper" />
	</bean>
</beans>