<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<environments default="db">
		<environment id="db">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${archiver.dbdriver}" />
				<property name="url" value="${archiver.dburl}" />
				<property name="username" value="${archiver.dbuser}" />
				<property name="password" value="${archiver.dbpass}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="org/kbs/archiver/Board.xml" />
	</mappers>
</configuration>